body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height: auto;
}

.main-header {
  background-color: #8e44ad;
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-title {
  font-family: Righteous, sans-serif;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tagline {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 9px;
}

.lang-switcher {
  display: flex;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.lang-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.lang-button i {
  margin-right: 8px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #8e44ad;
  min-width: 80px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  text-align: center;
}

.dropdown a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 0.8rem;
}

.dropdown a:hover {
  background-color: #ac11db;
}

.hero h1 {
  color: #8e44ad;
  text-align: left;
  font-family: Righteous, sans-serif;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 100px;
}

.category-intro p {
  color: black;
  font-family: Righteous, sans-serif;
  text-align: center;
  font-size: 28px;
  margin-top: 50px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
  margin-top: 70px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 70px;
}

.category-card {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.category-card img {
  width: 278px;
  height: 140px;
  border-radius: 20px;
  filter: brightness(1);
  transition: filter 0.5s ease, transform 0.5s ease;
}

.category-card span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 28px;
  z-index: 2;
  text-shadow: 1px 1px 2px #000;
}

.category-card:hover img {
  filter: brightness(0.7);
  transform: scale(1.05);
}

.home-link {
  position: absolute;
  top: 25px;
  left: 30px;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.home-link:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.category-title h1 {
  color: #8e44ad;
  text-align: left;
  font-family: Righteous, sans-serif;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.menu-items {
  display: flex;
  justify-content: start;
  gap: 78px;
  padding: 40px;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 170px;
  min-height: 280px;
  box-sizing: border-box;
  min-width: 170px;
  border: 3px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.card:hover {
  z-index: 0;
  transform: scale(1.05);
}

.card img {
  width: 150px;
  height: 137px;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 14px;
}

.card h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-align: center;
  margin: 10px 0 10px;
}

.card p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #4b4b4b;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card .price {
  display: block;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  color: #4b4b4b;
  font-weight: bold;
}

.card.selected {
  border: 3px solid #8e44ad;
  box-shadow: 0 4px 15px rgba(37, 129, 186, 0.5);
  transform: scale(1.02);
}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.checkout-button {
  cursor: pointer;
  text-align: center;
}

#checkout-button-text {
  width: 310px;
  height: 60px;
  border-radius: 50px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  line-height: 1.2;
  transition: background-color 0.3s ease;
}

#checkout-button-text.disabled {
  background-color: #cbcbcb;
  color: white;
}

#checkout-button-text.enabled {
  background-color: #8e44ad;
  color: white;
}

#information-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none !important;
}

.confirmation-box {
  width: 310px;
  padding: 20px 0;
  border-radius: 9px;
  background-color: #8e44ad;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-box h1#confirm-order-title {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin: 10px 0 20px;
  text-align: center;
}

#order-details {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.item-detail {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5px;
}

.item-detail .detail-name {
  word-break: break-word;
  margin-right: 10px;
  text-align: left;
  flex-grow: 1;
}

.item-detail .detail-price {
  white-space: nowrap;
  text-align: right;
}

#order-total {
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin: 20px 0;
}

.confirm-order-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #8e44ad;
  width: 280px;
  height: 45px;
  background-color: white;
  border-radius: 100px;
  padding-top: 5px;
  line-height: 40px;
  margin-top: 15px;
}

.cancel-button {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 15px;
  text-decoration: underline;
}

@media (max-width: 550px) {
  .hero h1 {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 1.9rem;
  }

  .category-title h1 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.5rem;
  }

  .tagline {
    font-size: 0.9rem;
  }

  .lang-switcher {
    right: 10px;
  }

  .lang-button {
    padding: 5px 8px;
    font-size: 0.8rem;
  }

  .categories-list {
    gap: 20px;
    margin-top: 40px;
  }

  .category-card {
    width: 90%;
    max-width: 350px;
    margin-bottom: 30px;
  }

  .category-card img {
    height: 150px;
  }

  .menu-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 20px;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .card {
    width: 170px;
    min-width: 190px;
    box-sizing: border-box;
    padding-bottom: 10px;
  }

  .card img {
    width: 150px;
    height: 150px;
    padding: 0;
  }

  .card h2 {
    font-size: 1.1em;
    margin: 20px 0;
  }

  .card p {
    font-size: 0.9em;
    padding: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .card .price {
    font-size: 1em;
    margin-bottom: 5px;
    display: block;
  }

  .checkout-container {
    height: 70px;
  }

  #checkout-button-text {
    width: 100%;
    height: 45px;
    font-size: 18px;
    padding: 25px;
  }

  .confirmation-box {
    width: 80%;
  }

  .confirmation-box h1#confirm-order-title {
    font-size: 21px;
    padding-bottom: 5px;
  }
  .item-detail {
    font-size: 19px;
    padding-bottom: 8px;
  }
}

@media (min-width: 551px) and (max-width: 800px) {
  .menu-items {
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 30px 20px;
    gap: 30px;
  }

  .card {
    min-width: 200px;
    width: 200px;
  }
}
